[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
fastapi = "*"
pydantic = "*"
requests = "*"
webvtt-py = "*"

[dev-packages]
autopep8 = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.10"
